.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Bottom-nav {
  z-index: 10;
  width: 100%;
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
}

.Bottom-nav > ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.Bottom-nav > ul > li {
  display: inline-block;
}

.Bottom-nav > ul > li > button{
  color: black;
  height: 30px;
}

.Bottom-nav > ul > li > select{
  color: black;
  height: 30px;
}
